name: Daily Commit
on:
  schedule:
    - cron: '30 2 * * *'
  workflow_dispatch:
permissions:
  contents: write
jobs:
  daily-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: 23f2003695@ds.study.iitm.ac.in
        run: |
          echo "Daily update $(date)" >> daily_log.txt
          git config user.email "23f2003695@ds.study.iitm.ac.in"
          git config user.name "GitHub Action"
          git add daily_log.txt
          git commit -m "Daily automated commit $(date)"
          git push origin HEAD:main
